{% extends "layouts/main.j2" %}
{% block content %}
   <div class="flex gap-x-6">
   {% for post in posts %}
      <div>
        <h3 class="text-base font-semibold leading-7 text-gray-900">{{post.title}}</h3>
        <p class="mt-2 leading-7 text-gray-600">{{ post.content|truncate(length=200, killWords=true) }}</p>
        <p class="mt-4">
          <a href="/posts/{{post.id}}" class="text-sm font-semibold leading-6 text-indigo-600">Read more <span aria-hidden="true">&rarr;</span></a>
        </p>
      </div>
   {% endfor %}
   </div>
{% endblock %}